<% layout('layout') -%>
<% stylesheet('/public/css/login.css') -%>

<div class="container">

    <form method="POST"
          action="loginForm"
          class="form-signin">
        <h2 class="form-signin-heading">请登录</h2>
        <label for="name"
               class="sr-only">用户名：</label>
        <input type="name"
               id="name"
               name="name"
               class="form-control"
               placeholder="请输入用户名"
               required
               autofocus>
        <label for="password"
               class="sr-only">密码：</label>
        <input type="password"
               id="password"
               name="password"
               class="form-control"
               placeholder="请输入密码"
               required>
        <div class="checkbox">
            <label>
                <input type="checkbox"
                       value="remember-me"> 记住我
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block"
                type="submit">登 录</button>
    </form>

</div>